
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>GymBuddy</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/workout.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GymBuddy</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/signin">My Profile</a></li>
                <li><a href="/journal">My Journal</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top:-20px">
        <div class="col-lg-4" style="margin-top:100px">
        <div class="container" style="max-width:100% margin-top:100px">
          <ol class="breadcrumb">
            <li><a href ="/scan">Scan</a></li>
            <li class="active">Dumbbell Squat</li>
          </ol>
        </div>
        <div style="margin-top:-20px">
            <h2>Dumbbell Squat</h2>
           <img src="images/DBSquat.gif" max-width:"100%"> 
        </div>
        </div><!-- /.col-lg-4 -->
        <div class="container" align="center">
           <p><a class="btn btn-lg btn-primary" href="/entry" role="button">Enter workout into My Journal &raquo;</a></p>
        </div>
      </div><!-- /.row -->
      <div class="container" >
        <h3><center>How to use</center></h3>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#beginner" data-toggle="tab">Beginner</a></li>
          <li><a href="#intermediate" data-toggle="tab">Intermediate</a></li>
          <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
        </ul>

        <!-- Tab panes -->


        <div class="tab-content">
          <div class="tab-pane active" id="beginner"> Place your feet shoulder width apart to help distribute the weight evenly throughout your body. <br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 10 reps, start with 20lbs for each weight</div>
          <div class="tab-pane" id="intermediate">Try <b>Dumbbell Lunges</b>! Lunge forward with the first leg. Land on your heel then forefoot. Lower your body by flexing knee and hip of the front leg until the knee of rear leg is almost in contact with floor. Return to original standing position by forcibly extending the hip and knee of the forward leg. Repeat by alternating lunge with opposite leg.<br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 10 reps each leg, start with 35lbs for each weight</div>
          <div class="tab-pane" id="advanced">If you're looking for a challenge, try <b>Dumbbell Step-Ups</b>! Place the foot of the first leg on a bench. Stand on the bench by extending the hip and knee of the first leg and place the foot of your second leg on bench. Step down with the second leg by flexing the hip and knee of the first leg. Return to original standing position by placing the foot of the first leg to floor. Repeat first step with opposite leg alternating first steps between legs. <br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 15 reps each leg, start with 45lbs for each weight</div>
        </div>
        <br>

        <!-- INSTRUCTIONS GO HEREEEEEEE -->

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Instructions <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body1">
                Bend your knees forward while allowing your hips to bend back behind, keeping your back straight and knees pointed same direction as feet. Descend until your thighs are just past parallel to floor. Extend your knees and hips until your legs are straight. Return to starting position and repeat.
              </div>
            </div>
          </div>
        </div>

       <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Injury Prevention Tips <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body2">
                <li>Have an <font color="red"><b>equal distribution of weight</font></b>  through your forefoot and heel.</li>
                <li>If doing a lunge or step-up variation, <font color="red"><b>keep your torso upright</font></b> to avoid hip rotator injury.</li>
                <li>If your knees begin to experience pain, <b><font color="red">stop the exercise immediately</font></b> and perform some light walking until pain has subsided.</li>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div><!-- /.container -->

   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
  </body>
</html>
