
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>GymBuddy</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GymBuddy</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/signin">My Profile</a></li>
                <li><a href="/journal">My Journal</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

 <div class="container marketing" style="margin-top:100px">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" style="margin-top:-20px">
        <div class="container" style="width:300px">
          <ol class="breadcrumb">
            <li><a href="/scan">Scan</a></li>
            <li><a href="/workout">Workout Info</a></li>
            <li class="active">Entry</li>
          </ol>
        </div>
          <hr>
          <div id="rounds">
            <div class="panel panel-default" id="round1">
              <div class="panel-heading">Round 1</div>
              <div class="panel-body">
                <form method="POST" action="#" role="form">
                  <div class="form-group">
                    <label for="reps">Reps</label>
                    <div class="input-group">
                      <span class="input-group-btn">
                        <input id="reps1" type="button" value="-" class="qtyminus btn btn-default" field="reps1" />
                      </span>
                        <input type="text" name="reps1" value="0" class="qty form-control" />
                      <span class="input-group-btn">
                        <input type="button" value="+" class="qtyplus btn btn-default" field="reps1" />
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /form-group -->

                  <div class="form-group">
                    <label for="weight1">Weight</label>
                    <div class="input-group">
                      <span class="input-group-btn">
                        <input id="weight1" type="button" value="-" class="qtyminus btn btn-default" field="weight1" />
                      </span>
                        <input type="text" name="weight1" value="0" class="qty form-control" />
                      <span class="input-group-btn">
                        <input type="button" value="+" class="qtyplus btn btn-default" field="weight1" />
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /form-group -->
                </form>
                <a class="btn btn-default deleteround" roundid="1"><span class="glyphicon glyphicon-minus"></span> Delete round</a>
              </div><!-- /panel-body -->
            </div><!-- /panel -->
          </div><!-- /rounds -->
          <a class="btn btn-default" id="addanother"><span class="glyphicon glyphicon-plus"></span> Add round</a>
          <div class="container" style="margin-top:20px">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Save to My Journal</button>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Successfully saved to my journal!</p>
            <a href="/journal" type="button" class="btn btn-primary">Go To My Journal</a>
            <a href="/scan" type="button" class="btn btn-primary">Scan Another</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
    <script src="js/entry.js"></script>
  </body>
</html>
