
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>GymBuddy</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/workout.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GymBuddy</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/signin">My Profile</a></li>
                <li><a href="/journal">My Journal</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top:-20px">
        <div class="col-lg-4" style="margin-top:100px">
        <div class="container" style="width:300px;margin-top:100px">
          <ol class="breadcrumb">
            <li><a href ="/scan">Scan</a></li>
            <li class="active">Seated Leg Press</li>
          </ol>
        </div>
        <div style="margin-top:-20px">
            <h2>Seated Leg Press</h2>
           <img src="images/SeatedLegPress.gif" width="300px"> 
        </div>
        </div><!-- /.col-lg-4 -->
        <div class="container" align="center">
           <p><a class="btn btn-lg btn-primary" href="/entry?lastPage=seatedlegpress" role="button">Enter workout into My Journal &raquo;</a></p>
        </div>
      </div><!-- /.row -->
      <div class="container" >
        <div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Instructions</a></li>
      <li><a href="#profile" data-toggle="tab">Safety</a></li>
      <li class="dropdown">
        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Workouts <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1" tabindex="-1" data-toggle="tab">Beginner</a></li>
          <li><a href="#dropdown2" tabindex="-1" data-toggle="tab">Intermediate</a></li>
          <li><a href="#dropdown3" tabindex="-1" data-toggle="tab">Advanced</a></li>
        </ul>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <p>Sit on the machine with your back on padded support. Place your feet on the platform. Grasp the handles to your sides. Push the platform away by extending your knees and hips all the way until your legs are straight out. Bring your legs back to the starting position and repeat.</p>
      </div>
      <div class="tab-pane fade" id="profile">
        <p><li><font color="red"><b>Adjust seat and back support</font></b> to accommodate near full range of motion without forcing hips to bend at waist.</li>
                <li><font color="red"><b>Do not</font></b> allow heels to raise off of platform, pushing with both heel and forefoot.</li></p>
      </div>
      <div class="tab-pane fade" id="dropdown1">
        <p>Placing your feet slightly high on platform emphasize Gluteus Maximus, while placing your feet slightly lower on platform emphasize Quadriceps. It's all up to you! <br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 10 reps, start with 30lbs</p>
      </div>
      <div class="tab-pane fade" id="dropdown2">
        <p>Continue using the Seated Leg Press</b> with the recommended workout regime below. To add tone to the quadriceps and gluteus maximus, try the <b>Hip Extension Lever</b>! Kneel on lowest shin pads and position midsection on the middle pad. Grip the handles, and keeping one leg on shin pad, extend hip of other leg and push roller pad back until hip is completely extended. Return leg to original position and repeat. Repeat with opposite leg.<br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 12 reps, start with 60lbs</p>
      </div>
      <div class="tab-pane fade" id="dropdown3">
        <p><b>Continue using the Seated Leg Press</b> with the recommended workout regime below. If you're looking for a challenge, try <b>Sumo Barbell Deadlifts</b>! Position feet under bar with very wide stance. Squat down and grasp bar between legs with shoulder width or slightly narrower mixed grip. Lift bar by extending hips and knees to full extension. Pull shoulders back at top of lift if rounded. Return and repeat. <br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 15 reps, start with 90lbs</p>
      </div>
    </div>
  </div><!-- /example -->
    </div><!-- /.container -->

   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
  </body>
</html>
