
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>GymBuddy</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/workout.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GymBuddy</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/journal">My Journal</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top:-20px">
        <div class="col-lg-4" style="margin-top:100px">
        <div class="container" style="width:300px;margin-top:100px">
          <ol class="breadcrumb">
            <li><a href ="/scan">Scan</a></li>
            <li class="active">Tricep Dip</li>
          </ol>
        </div>
        <div style="margin-top:-20px">
            <h2>Tricep Dip</h2>
           <img src="images/ChestDip.gif" width="300px"> 
        </div>
        </div><!-- /.col-lg-4 -->
        <div class="container" align="center">
           <p><a class="btn btn-lg btn-primary entry" href="/entry?lastPage=tricepdip" role="button">Enter workout into My Journal &raquo;</a></p>
        </div>
      </div><!-- /.row -->
      <div class="container" >
        <div class="bs-example bs-example-tabs">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a class="howto" href="#home" data-toggle="tab">How-To</a></li>
            <li><a class="safety" href="#profile" data-toggle="tab">Safety</a></li>
            <li><a href="#levels" data-toggle="tab">Workouts</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <p> If possible, place handles in wide position. Sit on seat and grasp handles with oblique grip. Lean forward slightly. Push lever down with elbows away from body. Return until chest is slightly stretched. Repeat.</p>
            </div>
            <div class="tab-pane fade" id="profile">
              <p><li>Be sure to <font color="red"><b>keep your back on the pad</font></b> to avoid strain to your neck</font></b>.</li>
                      <li><b><font color="red">Keep a little bend</font></b> in your elbows to keep the tension off your elbows and on your triceps.</li>
                      <li><b><font color="red">Do not</font></b> try Quarter Dips or Full Dips unless thoroughly practiced to avoid injury to the neck, shoulders, and elbows.</li></p>
            </div>
            <div class="tab-pane fade" id="levels">
              <div class="bs-example bs-example-tabs">
                <ul id="myTabInner" class="nav nav-tabs">
                  <li class="active"><a class="beginner" href="#beginner" data-toggle="tab">Beginner</a></li>
                  <li><a class="intermediate" href="#intermediate" data-toggle="tab">Intermediate</a></li>
                  <li><a class="advanced" href="#advanced" data-toggle="tab">Advanced</a></li>
                </ul>
                <div class="tab-pane fade in active" id="beginner">
                  <p>To avoid leaning back excessively, have someone place their knee in your upper back between your shoulder blades. <br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 10 reps, start with 20lbs</p>
                </div>
                <div class="tab-pane fade" id="intermediate">
                  <p>Try the <b>Dumbell Shoulder Press!</b> This will supplement your workout by using your shoulders as well. Position dumbbells to each side of shoulders with elbows below wrists. Press dumbbells upward until arms are extended overhead. Lower to sides of shoulders and repeat. <br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 10 reps each, start with 20lbs</p>
                </div>
                <div class="tab-pane fade" id="advanced">
                  <p>If you're looking for some variations on this workout, try doing <b>Quarter Tricep Dips</b> and <b>Full Tricep Dips</b>! Quarter Dips include doing a regular Tricep Dip but only a quarter of the way down with your arms, so that the muscles near your elbow gets a workout too! Full Tricep Dips include doing the regular Tricep Dip but all the way down, therefore getting a chest workout in the process! <br><b><font color="blue">Recommended Workout: </font></b>3 Rounds, 12 reps, start with 40lbs</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /example -->
      </div><!-- /.container -->
    </div><!-- /.container marketing-->

   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
    <script src="js/workout.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48613447-1', 'gymbuddy170.herokuapp.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>