
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>GymBuddy</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/workout.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GymBuddy</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/signin">My Profile</a></li>
                <li><a href="/journal">My Journal</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top:-20px">
        <div class="col-lg-4" style="margin-top:100px">
        <div class="container" style="width:300px;margin-top:100px">
          <ol class="breadcrumb">
            <li><a href ="/scan">Scan</a></li>
            <li class="active">Workout Info</li>
          </ol>
        </div>
        <div style="margin-top:-20px">
            <h2>Seated Row</h2>
           <img src="images/seated_row.gif" width="300px"> 
        </div>
        </div><!-- /.col-lg-4 -->
        <div class="container" align="center">
           <p><a class="btn btn-lg btn-primary" href="/entry" role="button">Enter workout into My Journal &raquo;</a></p>
        </div>
      </div><!-- /.row -->
      <div class="container" >
        <h3>How to use</h3>
        <p>Sit slightly forward on platform and grab cable attachment. Place feet on angled vertical platform. Pull cable attachment to waist while straightening lower back. Pull shoulders back and push chest forward while arching back. Return until arms are extended, shoulders are stretched forward, and lower back is flexed forward. Repeat.</p>
        <h3>Injury Prevention</h3>
        <li>Be sure to slide hips back keeping knees slighty bent.</li>
        <li>Begin with lower weight to allow the lower back to adapt adequately</li>
        <li>Do not pause or bounce at bottom of the lift</li>
      </div>
    </div><!-- /.container -->

   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
  </body>
</html>
